@import './base';

.footer{
    display: grid;
    grid-column: col-start 1/ full-end;
    justify-content: center;
    align-content: center;
    box-shadow: -3px 0px 20px rgb(122, 122, 122) ;

    &__btn{
        display: grid;
        align-content: center;
        justify-items: center;
        height: 5rem;
        width: 40rem;
        padding: 1rem 5rem; 
        border: none;
        border-radius: 5rem;
        background-image: linear-gradient(to right, $color-primary, $color-primary-light);
        color: white;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: myFont;
        position: relative;

        &--1{
            position: absolute;
            align-self: center;
            transition: all .2s;
        }

        &:hover &--1{
            transform: translateY(2rem);
            opacity: 0;
        }


        &--2{
            position: absolute;
            top:-20%;
            opacity: 0;
            transition: all .2s;
        }

        &:hover &--2{
            top: 30%;
            align-self: center;
            opacity: 1;
        }
    }



}