.gallery{
    display: grid;
    grid-row: gallery-start/gallery-end;
    grid-column: col-start 1/full-end;
    grid-template-columns: repeat(4, 1fr);
    color: white;

        &--name{
            float: right;
            padding: 1rem;
            text-shadow: 5px 5px 5px black;
        }

        &--img-1{
            background-image: url(../img/pic2.jpg);
            background-size: cover;
        }

        &--img-2{
            background-image: url(../img/pic1.jpg);
            background-size: cover;
        }

        &--img-3{
            background-image: url(../img/pic3.jpg);
            background-size: cover;
        }

        &--img-4{
            background-image: url(../img/pic4.jpg);
            background-size: cover;
        }
    
}