@import './base';

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: full-start/col-start 1;
    grid-row: gallery-start/grid-start;
    background-color: $color-secondary;
    justify-content: center;
    font-size: 1.5rem;
    color: white;

    

    &__item{
        position: relative;
        display:grid;
        grid-template-columns: repeat(2, max-content);
        gap: 2rem;
        align-items: center;
        padding: 1.3rem 4rem;
        cursor: pointer;
        border: none;
        background: transparent;
        color: white;
        z-index: 10;
        width: 100%;

        &::after{
            content: '';
            position: absolute;
            top:0;
            left: 0;
            height: 100%;
            width: 4px;
            background-color: $color-primary;
            transform: scale(0);
            transition: transform .2s, width .4s .2s;
        }

        &:hover::after{
            width: 100%;
            transform: scale(1);
            z-index: -1;
        }
    }


    &__img{
        fill: white;
        height: 2rem;
        width: 2rem;
    }

    &__name{
        font-size: 1.6rem;
        font-weight: 300;
    }

    &__footer{
        display: grid;
        align-self: flex-end;
        justify-items: center;
        font-size:1rem;
        padding-bottom: 2rem;
    }
}